.input-area {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

.input-row {
    display: flex;
}

.input-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch; 
    width: 95%;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

label {
    padding-bottom: 0.25em; 
}

input[type="text"] {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.button {
    display: flex;
    justify-content: center;
}

.output-area {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

.output {
    padding-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-style: solid;
    border-color: #011e48;
    border-radius: 10px;
}

.output h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
.output h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
.output .date {
    margin-bottom: 1em;
}
  
.output p {
    margin: 1em 0;
    text-indent: 2em;
}

.body {
    resize: none;
    overflow: auto;
    height: 15em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
